{% extends "navbar.html" %}
{% block title %} Home {% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='vendor/tabulator.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col border-right border-secondary">
                <h4 align="center"> Blocks </h4>
                <div id="block_table"></div>
            </div>
            <div class="col">
                <h4 id="transaction_header" align="center"> Transactions of Block 0 </h4>
                <div id="transaction_table"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/tabulator.js') }}"></script>
    <script>
        $(() => {
            $('.pop').popover({
                container: 'body',
                trigger: 'focus'
            });
            let transaction_table = new Tabulator('#transaction_table', {
                layout: 'fitColumns',
                columns: [
                    {title: 'Sender', field: 'sender', width: '30%'},
                    {title: 'Recipient', field: 'recipient', width: '30%'},
                    {title: 'Value', field: 'value', width: "20%"},
                    {title: 'Fee', field: 'fee', width: "20%"}
                ],
                ajaxResponse: (url, params, response) => {
                    $('#transaction_header').text(`Transactions of Block ${params['id']}`);
                    response.forEach((elem) => {
                        elem.recipient = elem['recipient']['alias'];
                        elem.sender = elem['sender']['alias'];
                    });
                    return response;
                }
            });
            let block_table = new Tabulator('#block_table', {
                layout: 'fitColumns',
                columns: [
                    {title: '#', field: 'id', width: '10%'},
                    {title: 'Miner', field: 'miner', width: '30%'},
                    {title: 'Time', field: 'time', width: "40%"},
                    {title: 'Reward', field: 'reward', width: "20%"}
                ],
                rowClick: (e, row) => {
                    transaction_table.setData(
                        "{{ my_url }}/api/block_transactions", {id: row._row.data.id})
                }
            });
            block_table.setData([
                {% for block in blocks %}
                    {
                        id: {{loop.index - 1}},
                        miner: '{{block.miner.alias}}',
                        time: '{{ block.time }}',
                        {# why do you do this to me jinja#}
                        {% set reward = [base_reward] %}
                        {% for transaction in block.transactions %}
                            {% if reward.append(reward.pop() + transaction.fee) %}{% endif %}
                        {% endfor %}
                        reward: '{{ reward.pop() }}',
                    },
                {% endfor %}
            ]);
            transaction_table.setData("{{ my_url }}/api/block_transactions", {id: 0})
        });
    </script>
{% endblock %}