<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    For nav load#}
    <meta name="select" content="login">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Login </title>
{#    Vendor CSS#}
    <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet">
{#    Custom CSS#}
    <link href="{{ url_for('static', filename='custom/navbar.css') }}" rel="stylesheet">
</head>
<body>
{# Vendor JS#}
<script src="{{ url_for('static', filename='vendor/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
{# Custom JS#}
<script src="{{ url_for('static', filename='custom/navload.js') }}"></script>
</body>
</html>