{% extends "navbar.html" %}
{% block title %} Submit {% endblock %}
{% block content %}
    <div class="container">
        <div align="center"><strong> <label> Submit a Transaction </label> </strong></div>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col form-group">
                    {{ form.sender_public_key }}
                </div>
                <div class="col form-group">
                    {{ form.recipient_public_key }}
                </div>
            </div>
            <div class="form-group">
                {{ form.s_private_key }}
            </div>
            <div class="row form-group">
                <div class="col-sm">
                    {{ form.value }}
                </div>
                <div class="col-sm" style="margin-bottom: 1%">
                    {{ form.fee }}
                </div>
                <div class="col-sm-3">
                    {{ form.submit }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(() => {
            $('#sender_public_key').text(String.raw`{{ session['my_public_key'] }}`);
            $('#s_private_key').text(String.raw`{{ session['my_private_key'] }}`);
        });
    </script>
{% endblock %}