<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ chain_name }}</title>
{#    Vendor CSS#}
    <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet">
{#    Custom CSS#}
</head>
<body>
<div id="welcome">
    <h1> Welcome to {{ chain_name }} </h1>
</div>
<button type="button" class="btn btn-primary">Hello</button>
{# Vendor JS#}
<script src="{{ url_for('static', filename='vendor/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap.min.js') }}"></script>
</body>
</html>